{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>{% block title %} {% endblock title %} |VEGANS BUSINESS </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Stripe Link  -->
    <script src="https://js.stripe.com/v3/"></script>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >

    <!-- Fontawesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <!-- CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">

    {% block stylesheet %} {% endblock stylesheet %}

</head>

<body>
    



        {%  include 'navbar.html'   %}

        
        {% block content %}
        {% endblock content %}



    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script> 


    
   

    <!-- stripe link -->
    {% block javascript %}  {% endblock javascript %}
  

</body>
</html>